// Janpen
*{
	padding: 0;
	margin:0;
	font-family: 'Slim' , 'Janpen';
}

.d-flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mx{
	margin-left:10px;
	margin-right: 10px;
}