@import '../../src/assets/scss/variables';

.modal{

}
.bottom{
    border-bottom: 1px solid map-get($colors,'dark');
}
.close{
    cursor: pointer;
}
.dialog{
    position: fixed;
    left:25%;
    margin:20px;
    top: 25vh;
    z-index: 999;
    border: 1px solid map-get($colors,'dark');
    width: 50%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: map-get($colors,'default');
    // box-shadow:0 0 0 100vw rgba(0,0,0,.8);
}

.hidebg {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #000;
    width: 100%;
    /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height: 100%;
    filter: alpha(opacity=60);
    /*设置透明度为60%*/
    opacity: 0.6;
    /*非IE浏览器下设置透明度为60%*/
    // display: none;
    z-Index: 2;
}