@import '../../src/assets/scss/variables';

.modal{

}
.bottom{
    border-bottom: 1px solid map-get($colors,'dark');
}
.close{
    cursor: pointer;
}
.dialog{
    position: fixed;
    left:25%;
    top: 25vh;
    z-index: 999;
    border: 1px solid map-get($colors,'dark');
    // box-shadow: 200px map-get($colors,'primary');
    width: 50%;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: map-get($colors,'default');
    box-shadow:0 0 0 100vw rgba(0,0,0,.8);
}


