@font-face {  
  font-family: 'Janpen';  //重命名字体名
  src: url('./common/font/真宗聖典楷書.ttf');  //引入字体
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  font-family: 'Slim';  //重命名字体名
  src: url('./common/font/Slim-thin-pixelettes.otf');  //引入字体
  font-weight: normal;  
  font-style: normal;  
}