	@import '../src/assets/scss/variables';
	
	.yc-button {
		display: inline-block;
		line-height: 1;
		white-space: nowrap;
		cursor: pointer;
		border: 1px solid map-get($colors,'dark');
		color: map-get($colors,'dark');
		text-align: center;
		box-sizing: border-box;
		outline: none;
		margin: 0;
		font-weight: 500;
		padding: 12px 16px;
		font-size: 14px;
		border-radius: 4px;
		&:focus,
		&:hover{
			opacity: 0.9;
		}
	}

 
	.yc-color-primary {
		background-color: map-get($colors,'primary');
		border: 1px solid map-get($colors,'primary-border');
	}

	.yc-color-danger {
		background-color: map-get($colors,'danger');
		border: 1px solid map-get($colors,'danger-border');
	}

	.yc-color-warning {
		background-color: map-get($colors,'warning');
		border: 1px solid map-get($colors,'warning-border');
	}

	.is-round {
		border-radius: 20px;
	}
	
	.is-disabled{
		cursor: no-drop;
		opacity: 0.9;
	}
	.is-circle{
		border-radius: 50%;
	}